@import 'antd/dist/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@media (max-width: 640px) {
  .ant-picker-panels {
    display: flex !important;
    flex-direction: column !important;
  }
}
